.container {
  max-width: 770px;
}

.title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
}

@media (min-width: 640px) {
  .title {
    font-size: 42px;
  }
}

.subTitle {
  color: var(--text-heavy-color, #5e5e5e);
  margin: 1rem auto 0 auto;
  display: block;
  max-width: 720px;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
}

.paragraph {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.paragraph:last-child {
  margin-bottom: 0;
}
